<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="day" value="7"></parameter>
<parameter name="month" value="June"></parameter>
<parameter name="year" value="2030"></parameter>
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="com.ashish.AppTest"/>
      <class name="com.ashish.RahulShetty"/>-->
      
      <class name="com.ashish.CalenderAutomation"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
